* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    border: none;
}

aside {
    position: fixed;
    margin: auto;
    top: 40%;
    right: 5%;
    z-index: 2;

    li {
        height: 4rem;
        width: 6rem;
        text-align: center;
        line-height: 4rem;
        border: 1px solid;

        &:hover {
            cursor: pointer;
        }
    }
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.pages {
    position: absolute;
    top: 0;
    transition: 0.5s ease;

    .page {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        width: 200px;
        height: 60px;
        text-align: center;
        border: 1px solid black;
        position: relative;
    }
}

.active-pre {
    top: -60px;
    left: 0;
}

.active {
    top: 0px;
    left: 0;
}

.active-after {
    top: 60px;
    left: 0;
}

.content {
    .boxs {
        position: absolute;
        transition: 0.5s ease;
        top: 0;
    }
}

.box {
    width: 200px;
    height: 60px;
    background: #000;
}

#page1 {
    background: rgba(134, 94, 197, 0.3);
}

#page2 {
    background: rgba(35, 170, 242, 0.3);
}

#page3 {
    background: rgba(28, 214, 108, 0.3);
}

#page4 {
    background: rgba(255, 214, 97, 0.3);
}

#page5 {
    background: rgba(250, 50, 96, 0.3);
}
